html,body,header,menu,footer{
  background-color: black;/*:#1a2434;*/
  color:white;
  font-family:'Opens Sans',helvetica;
  height:100%;
  width:100%;
  margin: 0px;
}

@keyframes animation_main {

  0% {background-image: url(images/quindianos_10.jpeg);}
  50% {background-image: url(images/quindianos_11.jpeg);}
  70% {background-image: url(images/quindianos_9.jpeg);}

}

.wrapper {

  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  grid-template-rows: 1fr 11fr 2fr;
  gap: 0px;
}

/* Style the navbar */
#navbar {
  padding: 15px;
  overflow: hidden;
  background-color: white;
}

/* Navbar links */
#navbar a {
  padding: 10px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#navbar a:hover {
  background-color: rgb(119, 8, 76);
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.header{
 
  font-size: large;
  color:black;
  background-color: white;
  background-position: center;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  border-bottom: #1a2434;
  /*border-radius: 20px;*/
}

.main {

  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  grid-column: 1/3;
  background-image: url(images/quindianos_9.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  border-style:solid;
  border-color: black;
  animation-name: animation_main;
  animation-duration: 10s;
  position:static;
  margin: auto;
  /*border-radius: 20px;*/

}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.escudo{
 
  padding-left: 32px; 
  background-size: contain;
  background-position:center;
  background-color: white;
  height: 100%;
  width: 100%;
  position:relative;
  background-repeat:no-repeat;
  background-image: url(images/quindianos_escudo_reducido3.png);
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.aside{

  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  background-color: white;
  width: 100%;
  height: 100%;
  border-style:solid;
  border-color: black;
  position:static;
}

.tablasub20{
  
  display: flexbox;
  background-image: url(images/tabla_sub20.png);
  background-size: contain;
  background-repeat: no-repeat;
  position:static;
  margin: auto;

}

.tablasub17{
  
  display: flexbox;
  background-image: url(images/tabla_sub17.png);
  background-size: contain;
  position:static;
  margin: auto;
  transition: transform .2s; /* Animation */

}

.tablasub17:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.escudo_quindianos_marcador{

  grid-column: 1;
  grid-row: 1;
  flex-wrap: wrap;
  background-image: url(images/quindianos_escudo_reducido3.png);
  background-size: contain;
  background-repeat: no-repeat;
  
}

.escudo_caldas_marcador{

  grid-column: 3;
  grid-row: 1;
  flex-wrap: wrap;
  padding-top: 10px;
  background-image: url(images/Escudo_Oficial_Once_Caldas.png);
  background-size:contain;
  min-width: 50px;
  max-width: 100px;
  min-height: 150px;
  background-repeat: no-repeat;
}

.footer{

  text-align: center; 
  font-size: large;
  grid-column: 1/4;
  grid-template-columns: 5;
  grid-template-rows: 2;
  background-color: black;
}

.social_links{

  padding: 50px;
  border-radius: 20px;
}

a {
  float: center;
  padding: 10px 12px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-right: 1px solid rgba(255,255,255,0.1);
  vertical-align: middle;
}

a:hover {
  background: rgba(255,255,255,0.1);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {

  display: grid;
  flex-wrap: wrap;
  grid-row: 2/3;
  grid-column: 1/4;
  /*max-width: 1000px;*/
  position:static;
  margin: auto;
  background-size: contain;
  border-style:solid;
  border-color: #1a2434;
}

/* Hide the images by default */
.mySlides {
  display: none;
  background-size: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10%;
  width: auto;
  margin-top: 100px;
  margin-right: 320px;
  padding: 16px;

  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation - Animación */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade { /* Animación */
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {      /* Animación*/
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 768px){

  .wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 9fr 5fr 5fr;
    column-rule-color: rgb(4, 95, 4) yellow rgb(53, 1, 33);
    gap: 0px;
  }
  .escudo{
  
    padding-left: 250px;
    background-size: contain;
    background-image: url(images/quindianos_escudo_reducido3.png);
    text-align: center;
  }

  .main {

    display: flex;
    flex-wrap: wrap;
    background: url(images/quindianos_9.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    position:relative;
    border-radius: 20px;
  
  }

  .aside{
    grid-row: 3;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 480px){
  
  
}